.aproved {
    background-color: #1CA979 !important;
    color: #ffffff !important;
}

.rejected {
    background-color: rgb(177, 44, 84) !important;
    color: #ffffff !important;
}

.btn-pay{
    cursor: pointer;
}