<div class="text-center">
    <h2>{{ 'TEXT_QUANTITY_A'| translate}}</h2>
    <p> {{ 'TEXT_QUANTITY_B'| translate}} </p>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title"> {{ 'TEXT_QUANTITY_C'| translate}}</h5>
        <app-step-quantity [setValue]="valueSelected" (onValueSelected)="onValueSelected($event)"></app-step-quantity>
    </div>
</div>
<div class="btn-q-continue">
    <button type="button" (click)="continue()"
        class="btn btn-primary btn-lg btn-block">{{ 'TEXT_QUANTITY_CONTINUE'| translate}}</button>
</div>